*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a
{
  text-decoration: none;
}

ul
{
  list-style: none;
}

header
{
  display: flex;
  height: 10vh;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo-text
{
  font-weight: 400;
  margin-left: 5px;
  font-size: 20px;
}

.button
{
  padding: 12px 30px;
  border: 2px solid;
}

.specs
{
  background-color: #ffffff;
  color: #c36cbb;
  padding: 10px 45px;
  margin-right: 25px;
}

.add-to-cart
{
  background-color: #c36cbb;
  border: none;
  color: #ffffff;
}

.cart
{
  display: flex;
}

.logo
{
  flex: 1;
  display: flex;
}

nav
{
  flex: 1;
  
}

nav ul
{
  display: flex;
  justify-content: space-around;
}

nav ul li a
{ 
  color: #5f5f79;
  font-size: 25px;
}

.cart
{
  flex: 1;
  justify-content: flex-end;
}

.section-main
{
  height: 80vh;
  width: 90%;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.section-main, .section-content, .section-text, .section-text-header
{
  color: #5f5f79;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.section-main, .section-content, .section-text, .section-text-rest
{
  font-size: 26px;
  color: #5f5f79;
  line-height: 1.5;
  font-weight: 400;
}

.matebook-image
{
  height: 60vh;
} 

.section-text
{
  margin-bottom: 6rem;
}

/*No Mobile*/

@media (max-width:38rem)
{

}






